form{
    font-size: 20px;
}
.btn{
    font-size: 20px;
}
.scroll{
    overflow-y: scroll;
    max-height: 770px;
}
.scroll::-webkit-scrollbar {
    width: 7px;
}
.scroll::-webkit-scrollbar-thumb {
    background: #DAD7D7;
}